extends ../layout

block content
  h1= title
  div(hidden='hidden')
    img#map-image(src=map_image_data, data-gps-references=gps_references, data-origin=origin, data-resolution=resolution)
  #map
  a.btn.btn-secondary#move-to-center(href='#') Move map to center
