extends ../layout

block content
  h1= title

  table.table
    thead
      tr
        th #
        th Name
        th Created At
        th
    tbody
      each b in buildings
        tr
          td= b.id
          td= b.name
          td= b.created_at
          td
            a.btn.btn-outline-primary(href=`/buildings/${b.id}`) View

  a.btn.btn-primary(href='/buildings/create') New building
