extends ../layout

block content
  h1
    | #{title}
    a.btn.btn-primary.float-right(href='/buildings/create') New building

  table.table
    thead.thead-default
      tr
        th #
        th Name
        th Created At
        th.actions
    tbody
      each b in buildings
        tr
          td= b.id
          td= b.name
          td= moment(b.created_at).format('ll')
          td
            a.btn.btn-outline-primary(href=`/buildings/${b.id}`) View
