extends ../layout

block content
  h1= title
    button.btn.btn-sm.btn-outline-secondary(data-toggle='modal' data-target='#editModal') Edit

  div.info
    p= `CPS ID: ${building.cps_id}`
    p= moment(building.created_at).format('lll')

  h2
    | Maps
    if active
      a.btn.btn-primary.float-right(href=`/buildings/${building.id}/explore`) Stop exploration
    else
      button.btn.btn-primary.float-right(data-toggle='modal' data-target='#exploreModal') Start new exploration

  table.table
    thead.thead-default
      tr
        th #
        th Name
        th Floor
        th Created At
        th
    tbody
      each m in building.maps
        tr
          td= m.id
          td= m.name
          td= m.floor
          td= moment(m.created_at).format('lll')
          td
            a.btn.btn-sm.btn-outline-primary(href=`/maps/${m.id}`) View

  #editModal.modal.fade
    form(method='post')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Update building
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden="true") &times;
          .modal-body
            .form-group
              label Name
              input.form-control(type='text', name='name', value=building.name)
            .form-group
              label CPS ID
              input.form-control(type='text', name='cps_id' value=building.cps_id)
          .modal-footer
            input.btn.btn-primary(type='submit', value='Save')
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close

  #exploreModal.modal.fade
    form(method='post', action=`/buildings/${building.id}/explore`)
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Exploration
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden="true") &times;
          .modal-body
            .form-group
              label Name
              input.form-control(type='text', name='name')
            .form-group
              label Floor
              input.form-control(type='text', name='floor')
          .modal-footer
            input.btn.btn-primary(type='submit', value='Start')
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close

