extends ../layout

block content
  h1= title
    a.btn.btn-sm.btn-outline-secondary(href=`/buildings/${building.id}/edit`) Edit

  div
    p= moment(building.created_at).format('lll')

  h2
    | Maps
    a.btn.btn-primary.float-right(href=`/buildings/${building.id}/explore`)
      | #{active ? 'Stop exploration' : 'Start new exploration'}

  table.table
    thead.thead-default
      tr
        th #
        th Name
        th Created At
        th
    tbody
      each m in building.maps
        tr
          td= m.id
          td= m.name
          td= moment(m.created_at).format('lll')
          td
            a.btn.btn-sm.btn-outline-primary(href=`/maps/${m.id}`) View
