extends ../layout

block content
  h1= title

  div
    p= moment(building.created_at).format('lll')

  h2 Maps
  table.table
    thead
      tr
        th #
        th Name
        th Created At
        th
    tbody
      each m in building.maps
        tr
          td= m.id
          td= m.name
          td= m.created_at
          td
            a.btn.btn-outline-primary(href=`/maps/${m.id}`) View

  a.btn.btn-primary(href=`/buildings/${building.id}/explore`)= active ? 'Stop exploration' : 'Start new exploration'
