extends ../layout

block content
  h1= map.name
    a.btn.btn-sm.btn-outline-secondary(href=`/maps/${map.id}/edit`) Edit

  .row
    .col.col-6
      #map-image
        img(src=`/data/maps/${map.id}.png`)
    .col.col-6
        ul
          li= `Width: ${map.width}`
          li= `Height: ${map.height}`
          li= `Resolution: ${map.resolution}`
          li= `Origin: (${map.origin_x} ${map.origin_y} ${map.origin_yaw})`
          if map.ref_topleft != null
            li Reference points:
              ul
                li= `TopLeft: ${map.ref_topleft.coordinates[0]}, ${map.ref_topleft.coordinates[1]}`
                li= `TopRight: ${map.ref_topright.coordinates[0]}, ${map.ref_topright.coordinates[1]}`
                li= `BottomLeft: ${map.ref_bottomleft.coordinates[0]}, ${map.ref_bottomleft.coordinates[1]}`

        .btn-group
          a.btn.btn-outline-primary(href=`/maps/${map.id}/update`) Edit reference points
          a.btn.btn-outline-success(href=`/maps/${map.id}/yaml`) Download Yaml

  h2 Measurements
    a.btn.btn-primary.float-right(href=`/maps/${map.id}/toggle`)
      | #{active ? 'Stop measurement' : 'Start measurement'}

  table.table
    thead.thead-default
      tr
        th #
        th Collected At
        th
    tbody
      each m in map.measurements
        tr
          td= m.id
          td= moment(m.created_at).format('lll')
          td
            .btn-group
              a.btn.btn-sm.btn-outline-primary(href=`/measurements/${m.id}`) View
              a.btn.btn-sm.btn-outline-primary(href=`/measurements/${m.id}/export`) Export
